<launch>
  <!-- Arg definition -->
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />

  <arg name="custom_config_se3_copy_controller" default="" />

  <!-- Parameter loading -->
  <!-- se3_copy_controller -->
  <rosparam ns="$(env UAV_NAME)/control_manager/se3_copy_controller" file="$(find controllers_brubotics)/config/public/se3_copy_controller.yaml" /> 
  <!-- <rosparam ns="$(env UAV_NAME)/control_manager/se3_copy_controller" file="$(find controllers_brubotics)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/se3_copy.yaml" /> -->
  <rosparam if="$(eval not arg('custom_config_se3_copy_controller') == '')" ns="$(env UAV_NAME)/control_manager/se3_copy_controller" file="$(arg custom_config_se3_copy_controller)" />
  <param name="$(env UAV_NAME)/control_manager/se3_copy_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
  <remap from="~$(env UAV_NAME)/control_manager/se3_copy_controller/profiler" to="profiler" />
  <!-- other_controller -->

  <!-- Address loading -->
  <rosparam ns="$(env UAV_NAME)/control_manager" file="$(find controllers_brubotics)/config/address.yaml" />

</launch>
