<launch>
  <!-- Arg definition -->
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
  <arg name="custom_config_se3_brubotics_controller" default="" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="custom_config_se3_controller_brubotics_load" default="" />
  <arg name="custom_config_se3_controller_brubotics_pm" default="" />

  <!-- Parameter loading -->
  <rosparam ns="$(env UAV_NAME)/control_manager/se3_brubotics_controller" file="$(find controllers_brubotics)/config/default/se3_brubotics.yaml" />
  <rosparam ns="$(env UAV_NAME)/control_manager/se3_brubotics_controller" file="$(find controllers_brubotics)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/se3_brubotics.yaml" />
  <rosparam if="$(eval not arg('custom_config_se3_brubotics_controller') == '')" ns="$(env UAV_NAME)/control_manager/se3_brubotics_controller" file="$(arg custom_config_se3_brubotics_controller)" />
  <param name="$(env UAV_NAME)/control_manager/se3_brubotics_controller/enable_profiler" type="bool" value="$(arg PROFILER)" />
  <remap from="~$(env UAV_NAME)/control_manager/se3_brubotics_controller/profiler" to="profiler" />

  <rosparam ns="$(env UAV_NAME)/control_manager/se3_controller_brubotics_load" file="$(find controllers_brubotics)/config/default/se3_brubotics_load.yaml" />
  <rosparam ns="$(env UAV_NAME)/control_manager/se3_controller_brubotics_load" file="$(find controllers_brubotics)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/se3_brubotics_load.yaml" />
  <rosparam if="$(eval not arg('custom_config_se3_controller_brubotics_load') == '')" ns="$(env UAV_NAME)/control_manager/se3_controller_brubotics_load" file="$(arg custom_config_se3_controller_brubotics_load)" />
  <param name="$(env UAV_NAME)/control_manager/se3_controller_brubotics_load/enable_profiler" type="bool" value="$(arg PROFILER)" />
  <remap from="~$(env UAV_NAME)/control_manager/se3_controller_brubotics_load/profiler" to="profiler" />
  
  <rosparam ns="$(env UAV_NAME)/control_manager/se3_controller_brubotics_pm" file="$(find controllers_brubotics)/config/default/se3_brubotics_pm.yaml" />
  <rosparam ns="$(env UAV_NAME)/control_manager/se3_controller_brubotics_pm" file="$(find controllers_brubotics)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/se3_brubotics_pm.yaml" />
  <rosparam if="$(eval not arg('custom_config_se3_controller_brubotics_pm') == '')" ns="$(env UAV_NAME)/control_manager/se3_controller_brubotics_pm" file="$(arg custom_config_se3_controller_brubotics_pm)" />
  <param name="$(env UAV_NAME)/control_manager/se3_controller_brubotics_pm/enable_profiler" type="bool" value="$(arg PROFILER)" />
  <remap from="~$(env UAV_NAME)/control_manager/se3_controller_brubotics_pm/profiler" to="profiler" />

  <!-- Address loading -->
  <rosparam ns="$(env UAV_NAME)/control_manager" file="$(find controllers_brubotics)/config/address.yaml" />

</launch>
